{% extends 'base.html' %}
{% load static %}
{% block body %}


    <div class="breadcumb-wrapper " data-bg-src="{% static 'img/bg/breadcumb-bg.jpg' %}">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Haqqimizda</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'home' %}">Ana Sehife</a></li>
                    <li>Haqqimizda</li>
                </ul>
            </div>
        </div>
    </div>
{#    About Area  #}
    <div class="about-area position-relative overflow-hidden overflow-hidden space" id="about-sec">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="{{ about.image1.url }}" alt="About">
                        </div>
                        <div class="img2">
                            <img src="{{ about.image2.url }}" alt="About">
                        </div>
                        <div class="img3 movingX">
                            <img src="{{ about.image3.url }}" alt="About">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="ps-xl-4">
                        <div class="title-area mb-20">
                            <span class="sub-title style1 ">Touristə xoş gəlmisiniz</span>
                            <h3 class="sec-title mb-20 pe-xl-5 me-xl-5 heading">{{ about.title }}</h3>
                        </div>
                        <p class="mb-30 pe-xl-5"> {{ about.content| safe}}</p>
                        <div class="about-item-wrap">
                            <div class="about-item style2">
                                <div class="about-item_img"><img src="{% static 'img/icon/about_1_1.svg' %}" alt=""></div>
                                <div class="about-item_centent">
                                    <h5 class="box-title">{{ about.subtitle1 }}</h5>
                                    <p class="about-item_text">{{ about.subcontent1 }}</p>
                                </div>
                            </div>
                            <div class="about-item style2">
                                <div class="about-item_img"><img src="{% static 'img/icon/about_1_2.svg' %}" alt=""></div>
                                <div class="about-item_centent">
                                    <h5 class="box-title">{{ about.subtitle2 }}</h5>
                                    <p class="about-item_text">{{ about.subcontent2 }}</p>
                                </div>
                            </div>
                            <div class="about-item style2">
                                <div class="about-item_img"><img src="{% static 'img/icon/about_1_3.svg' %}" alt=""></div>
                                <div class="about-item_centent">
                                    <h5 class="box-title">{{ about.subtitle3 }}</h5>
                                    <p class="about-item_text">{{ about.subcontent3| safe }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-35"><a href="{% url 'contact' %}" class="th-btn style3 th-icon">Bizimlə Əlaqə</a></div>
                    </div>
                </div>
            </div>
            <div class="shape-mockup movingX d-none d-xxl-block" data-top="0%" data-left="-18%">
                <img src="{% static 'img/shape/shape_2_1.png' %}" alt="shape">
            </div>
            <div class="shape-mockup jump d-none d-xxl-block" data-top="28%" data-right="-15%">
                <img src="{% static 'img/shape/shape_2_2.png' %}" alt="shape">
            </div>
            <div class="shape-mockup spin d-none d-xxl-block" data-bottom="18%" data-left="-112%">
                <img src="{% static 'img/shape/shape_2_3.png' %}" alt="shape">
            </div>
            <div class="shape-mockup movixgX d-none d-xxl-block" data-bottom="18%" data-right="-12%">
                <img src="{% static 'img/shape/shape_2_4.png' %}" alt="shape">
            </div>
        </div>
    </div> <!--==============================
Destination Area
==============================-->

    <section class="position-relative overflow-hidden space-bottom" id="destination-sec">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title">Services We Offer</span>
                <h2 class="sec-title">Our Amazing services</h2>
            </div>
            <div class="row gy-4 gx-4">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_1.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Photo Shoot</a></h3>
                            <p class="destination-text">20 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_2.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Tour Guide</a></h3>
                            <p class="destination-text">22 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_3.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Cozy Event</a></h3>
                            <p class="destination-text">23 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_4.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Interesting Rest</a></h3>
                            <p class="destination-text">24 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_5.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Kayaking</a></h3>
                            <p class="destination-text">25 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_6.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Safe Flight</a></h3>
                            <p class="destination-text">26 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_7.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Entertainment</a></h3>
                            <p class="destination-text">27 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_8.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Delicisious Food</a></h3>
                            <p class="destination-text">28 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> <!--==============================
elements Area
==============================-->
    <div class="elements-sec bg-white overflow-hidden">
        <div class="container-fluid">
            <div class="tags-container relative"></div>
        </div>
    </div>
    <div class="sidebar-gallery-area space">
        <div class="container-fluid">
            <div class="slider-area">
                <div class="swiper th-slider has-shadow" data-slider-options='{"centeredSlides":"true","breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"2"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"3"},"1300":{"slidesPerView":"4"}}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_1.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_2.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_3.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_4.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_5.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_1.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_2.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_3.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_4.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_5.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-thumb style2 global-img">
                                <img src="{% static 'img/gallery/gallery_4_2.jpg' %}" alt="Gallery Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}