{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="breadcumb-wrapper " data-bg-src="{% static 'img/bg/breadcumb-bg.jpg' %}">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Xidmətlər</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Xidmətlər</li>
                </ul>
            </div>
        </div>
    </div><!--==============================
Destination Area  
==============================-->

    <section class="position-relative overflow-hidden space" id="destination-sec">
        <div class="container">
            <div class="row gy-4 gx-4">
                {% for service in services %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{{ service.cover_image.url }}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="{{ service.get_absolute_url }}">{{ service.cover_title }}</a></h3>
                            <br>
                            <a href="{{ service.get_absolute_url }}" class="th-btn style4 th-icon">Ətraflı</a>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
            <div class="shape-mockup shape1 d-none d-xxl-block" data-bottom="17%" data-right="-9%">
                <img src="{% static 'img/shape/shape_1.png' %}" alt="shape">
            </div>
            <div class="shape-mockup shape2 d-none d-xl-block" data-bottom="8%" data-right="-8%">
                <img src="{% static 'img/shape/shape_2.png' %}" alt="shape">
            </div>
            <div class="shape-mockup shape3 d-none d-xxl-block" data-bottom="15%" data-right="-4%">
                <img src="{% static 'img/shape/shape_3.png' %}" alt="shape">
            </div>
        </div>

    </section>
{% endblock %}