{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="{% static 'img/bg/breadcumb-bg.jpg' %}">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">{{ service.cover_title }}</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>{{ service.cover_title }}</li>
                </ul>
            </div>
        </div>
    </div><!--==============================
tour Area
==============================-->
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-7">
                    <div class="page-single">
                        <div class="service-img"><img src="{{ service.image1.url }}" alt=""></div>
                        <div class="page-content d-block">
                            <br>
                            <h2 class="box-title">{{ service.title }}</h2>
                            <p class="box-text mb-30">{{ service.content|safe }}</p>
                            <div class="service-inner-img mb-40"><img src="{{ service.image2.url }}" alt=""></div>
                            <h2 class="box-title">{{ service.subtitle }}</h2>
                            <div class="checklist">
                                {{ service.subcontent|safe }}
                            </div>
                        </div>
                        <div class="destination-gallery-wrapper">
                            <h3 class="page-title mt-30 mb-30">{{ service.gallery_title }}</h3>
                            <div class="row gy-4 gallery-row filter-active">
                                <div class="col-xxl-auto filter-item">
                                    <div class="gallery-box style3">
                                        <div class="gallery-img global-img">
                                            <img src="{{ service.gallery_image.url }}" alt="gallery image">
                                            <a href="{{ service.gallery_image.url }}" class="icon-btn popup-image"><i class="fal fa-magnifying-glass-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-auto filter-item">
                                    <div class="gallery-box style3">
                                        <div class="gallery-img global-img">
                                            <img src="{{ service.gallery_image1.url }}" alt="gallery image">
                                            <a href="{{ service.gallery_image1.url }}" class="icon-btn popup-image"><i class="fal fa-magnifying-glass-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-auto filter-item">
                                    <div class="gallery-box style3">
                                        <div class="gallery-img global-img">
                                            <img src="{{ service.gallery_image2.url }}" alt="gallery image">
                                            <a href="{{ service.gallery_image2.url }}" class="icon-btn popup-image"><i class="fal fa-magnifying-glass-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-auto filter-item">
                                    <div class="gallery-box style3">
                                        <div class="gallery-img global-img">
                                            <img src="{{ service.gallery_image4.url }}" alt="gallery image">
                                            <a href="{{ service.gallery_image4.url }}" class="icon-btn popup-image"><i class="fal fa-magnifying-glass-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="shape-mockup shape1 d-none d-xxl-block" data-bottom="35%" data-right="-12%">
                <img src="{% static 'img/shape/shape_1.png' %}" alt="shape">
            </div>
            <div class="shape-mockup shape2 d-none d-xl-block" data-bottom="31%" data-right="-8%">
                <img src="{% static 'img/shape/shape_2.png' %}" alt="shape">
            </div>
            <div class="shape-mockup shape3 d-none d-xxl-block" data-bottom="33%" data-right="-5%">
                <img src="{% static 'img/shape/shape_3.png' %}" alt="shape">
            </div>
        </div>
    </section><!--==============================
	Footer Area
==============================-->


{% endblock %}