{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="breadcumb-wrapper " data-bg-src="img/bg/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Xidmətlər</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Xidmətlər</li>
                </ul>
            </div>
        </div>
    </div><!--==============================
Destination Area  
==============================-->

    <section class="position-relative overflow-hidden space" id="destination-sec">
        <div class="container">
            <div class="row gy-4 gx-4">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_1.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Photo Shoot</a></h3>
                            <p class="destination-text">20 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Ətraflı</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_2.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Tour Guide</a></h3>
                            <p class="destination-text">22 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_3.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Cozy Event</a></h3>
                            <p class="destination-text">23 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_4.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Interesting Rest</a></h3>
                            <p class="destination-text">24 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_5.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Kayaking</a></h3>
                            <p class="destination-text">25 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_6.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Safe Flight</a></h3>
                            <p class="destination-text">26 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_7.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Entertainment</a></h3>
                            <p class="destination-text">27 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="destination-item th-ani">
                        <div class="destination-item_img global-img">
                            <img src="{% static 'img/destination/destination_4_8.jpg' %}" alt="image">
                        </div>
                        <div class="destination-content">
                            <h3 class="box-title"><a href="service-details.html">Delicisious Food</a></h3>
                            <p class="destination-text">28 Listing</p>
                            <a href="contact.html" class="th-btn style4 th-icon">Book Now</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="shape-mockup shape1 d-none d-xxl-block" data-bottom="17%" data-right="-9%">
                <img src="{% static 'img/shape/shape_1.png' %}" alt="shape">
            </div>
            <div class="shape-mockup shape2 d-none d-xl-block" data-bottom="8%" data-right="-8%">
                <img src="{% static 'img/shape/shape_2.png' %}" alt="shape">
            </div>
            <div class="shape-mockup shape3 d-none d-xxl-block" data-bottom="15%" data-right="-4%">
                <img src="{% static 'img/shape/shape_3.png' %}" alt="shape">
            </div>
        </div>

    </section>

{% endblock %}