{% extends 'base.html' %}
{% load static %}
{% block body %}

<!--==============================
    Breadcumb
    ============================== -->
<div class="breadcumb-wrapper " data-bg-src="{% static 'img/bg/breadcumb-bg.jpg' %}">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">{{ blog.cover_title }}</h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>{{ blog.cover_title }}</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
    Blog Area
    ==============================-->
<section class="th-blog-wrapper blog-details space-top space-extra-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-lg-7">
                <div class="th-blog blog-single">
                    <div class="blog-img">
                        <img src="{{ blog.image1.url }}" alt="Blog Image">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a href="{% url 'blog' %}"><i class="fa-regular fa-calendar"></i>{{ blog.created|date:"d M, Y" }}</a>
                        </div>
                        <h2 class="blog-title">{{ blog.title }}</h2>
                        <p class="blog-text mb-30">{{ blog.content }}</p>
                        <div class="row gy-4">
                            <div class="col-12">
                                <div class="blog-img">
                                    <img class="w-100" src="{{ blog.image2.url }}" alt="Blog Image">
                                </div>
                            </div>
                        </div>
                        <h3 class="mt-4">{{ blog.subtitle }}</h3>
                        <p class="">{{ blog.subcontent }}</p>
                        <div class="share-links clearfix ">
                            <div class="row justify-content-between">
                                <div class="col-md-auto text-xl-end">
                                    <div class="share-links_wrapp">
                                        <span class="share-links-title">Share:</span>
                                        <div class="social-links">
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ blog.cover_title }}" target="_blank"><i class="fab fa-twitter"></i></a>
                                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ blog.cover_title }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            <!-- 🟢 WhatsApp paylaşımı -->
                                            <a href="https://api.whatsapp.com/send?text={{ blog.cover_title }} - {{ request.build_absolute_uri }}" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Share Links Area end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5">
            </div>
        </div>
        <div class="shape-mockup shape1 d-none d-xxl-block" data-bottom="5%" data-right="-8%">
            <img src="{% static 'img/shape/shape_1.png' %}" alt="shape">
        </div>
        <div class="shape-mockup shape2 d-none d-xl-block" data-bottom="1%" data-right="-7%">
            <img src="{% static 'img/shape/shape_2.png' %}" alt="shape">
        </div>
        <div class="shape-mockup shape3 d-none d-xxl-block" data-bottom="2%" data-right="0%">
            <img src="{% static 'img/shape/shape_3.png' %}" alt="shape">
        </div>
    </div>
</section>
{% endblock %}
