{% extends 'base.html' %}
{% load static %}
{% block body %}
<!--==============================
    Breadcumb
    ============================== -->
<div class="breadcumb-wrapper " data-bg-src="img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Bizimlə Əlaqə</h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'home' %}">Ana Səhifə</a></li>
                <li>Bizimlə Əlaqə</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
    Contact Area
    ==============================-->
<div class="space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Biz buradayıq – yazın! </span>
            <h2 class="sec-title">Əlaqə Məlumatlarımız</h2>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-4 col-lg-6">
                <div class="about-contact-grid style2">
                    <div class="about-contact-icon">
                        <img src="{% static 'img/icon/location-dot2.svg' %}" alt="">
                    </div>
                    <div class="about-contact-details">
                        <h6 class="box-title">Ünvan</h6>
                        <p class="about-contact-details-text">{{ site_settings.address }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="about-contact-grid">
                    <div class="about-contact-icon">
                        <img src="{% static 'img/icon/call.svg' %}" alt="">
                    </div>
                    <div class="about-contact-details">
                        <h6 class="box-title">Telefon</h6>
                        <p class="about-contact-details-text"><a href="tel:+994 12 488 88 08">{{ site_settings.phone_number }}</a></p>
                         <p class="about-contact-details-text"><a href="tel:+994 70 521 82 85">{{ site_settings.phone_number1 }}</a></p>
                         <p class="about-contact-details-text"><a href="tel:+994 55 521 82 85">{{ site_settings.phone_number2 }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="about-contact-grid">
                    <div class="about-contact-icon">
                        <img src="{% static 'img/icon/mail.svg' %}" alt="">
                    </div>
                    <div class="about-contact-details">
                        <h6 class="box-title">Email</h6>
                        <p class="about-contact-details-text"><a href="mailto:mailinfo00@tourm.com">{{ site_settings.email }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
    Video Area
    ==============================-->
<div class="space-extra2-top space-extra2-bottom" data-bg-src="{% static 'img/bg/hero_bg_2_3.jpg' %}">
    <div class="container">
        <div class="row flex-row-reverse justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="video-box1">
                    <a href="https://www.youtube.com/watch?v=cQfIUPw72Dk" class="play-btn style2 popup-video"><i class="fa-sharp fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form method="POST" class="contact-form style2">
                        {% csrf_token %}
                        <h3 class="sec-title mb-30 text-capitalize">Bizə yazın</h3>
                        <div class="row">
                            <div class="col-12 form-group">
                                {{ form.name }}
                            </div>
                            <div class="col-12 form-group">
                                {{ form.email }}
                            </div>
                            <div class="col-12 form-group">
                                {{ form.phone }}
                            </div>
                            <div class="form-group col-12">
                                {{ form.subject }}
                            </div>
                            <div class="form-group col-12">
                                {{ form.message }}
                            </div>
                            <div class="form-btn col-12 mt-24">
                                <button type="submit" class="th-btn style3">Göndər</button>
                            </div>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <p class="form-messages mt-3">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
    Map Area
    ==============================-->
<div class="">
    <div class="container-fluid">
        <div class="contact-map style2">
            <iframe src="{{ site_settings.iframe }}" allowfullscreen="" loading="lazy"></iframe>
            <div class="contact-icon">
                <img src="{% static 'img/icon/location-dot3.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!--==============================
    Footer Area
    ==============================-->
{% endblock %}
