{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="img/bg/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Tur Haqqında</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'home' %}">Ana Səhifə</a></li>
                    <li>Tur Haqqında</li>
                </ul>
            </div>
        </div>
    </div><!--==============================
tour Area
==============================-->
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-7">
                    <div class="tour-page-single">
                        <div class="slider-area tour-slider1">
                            <div class="swiper th-slider mb-4" id="tourSlider4" data-slider-options='{"effect":"fade","loop":true,"thumbs":{"swiper":".tour-thumb-slider"},"autoplayDisableOnInteraction":"true"}'>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_1.jpg' %}" alt="img">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_2.jpg' %}" alt="img">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_3.jpg' %}" alt="img">
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_1.jpg' %}" alt="img">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_2.jpg' %}" alt="img">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_3.jpg' %}" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper th-slider tour-thumb-slider" data-slider-options='{"effect":"slide","loop":true,"breakpoints":{"0":{"slidesPerView":2},"576":{"slidesPerView":"2"},"768":{"slidesPerView":"3"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"3"}},"autoplayDisableOnInteraction":"true"}'>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_1.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_2.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_3.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_1.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_2.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img">
                                            <img src="{% static 'img/tour/tour_inner_3.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button data-slider-prev="#tourSlider4" class="slider-arrow style3 slider-prev"><img src="{% static 'img/icon/hero-arrow-left.svg' %}" alt=""></button>
                            <button data-slider-next="#tourSlider4" class="slider-arrow style3 slider-next"><img src="{% static 'img/icon/hero-arrow-right.svg' %}" alt=""></button>
                        </div>
                        <div class="page-content">
                            <div class="page-meta mb-45">
                            </div>
                            <h2 class="box-title">Explore the Beauty of Maldives and enjoy</h2>
                            <p class="box-text mb-30">voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                                ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                Dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                                modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Quis autem vel
                                eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
                                illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                            <p class="box-text mb-50"> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                                reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
                                dolorem eum fugiat quo voluptas nulla pariatur</p>
                            <h2 class="box-title">Highlights</h2>
                            <p class="box-text mb-30">voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                                ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                Dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
                            <div class="checklist mb-50">
                                <ul>
                                    <li>Visit most popular location of Maldives</li>
                                    <li>Buffet Breakfast for all traveler with good quality.</li>
                                    <li>Expert guide always guide you and give informations.</li>
                                    <li>Best Hotel for all also great food.</li>
                                    <li>Helping all traveler for Money Exchange.</li>
                                    <li>Buffet Breakfast for all traveler with good quality..</li>
                                    <li>Buffet Breakfast for all traveler with good quality.</li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>

            </div>


            <div class="shape-mockup about-shape movingX d-none d-xxl-block" data-bottom="40%" data-right="0%">
                <img src="{% static 'img/normal/about-slide-img.png' %}" alt="shape">
            </div>
            <div class="shape-mockup about-rating d-none d-xxl-block" data-bottom="48%" data-right="-12%">
                <i class="fa-sharp fa-solid fa-star"></i><span>4.9k</span>
            </div>
            <div class="shape-mockup about-emoji d-none d-xxl-block" data-bottom="45%" data-right="20%"><img src="{% static 'img/icon/emoji.png' %}" alt="">
            </div>
            <div class="shape-mockup shape1 d-none d-xxl-block" data-bottom="55%" data-right="-12%">
                <img src="{% static 'img/shape/shape_1.png' %}" alt="shape">
            </div>
            <div class="shape-mockup shape2 d-none d-xl-block" data-bottom="51%" data-right="-8%">
                <img src="{% static 'img/shape/shape_2.png' %}" alt="shape">
            </div>
            <div class="shape-mockup shape3 d-none d-xxl-block" data-bottom="53%" data-right="-5%">
                <img src="{% static 'img/shape/shape_3.png' %}" alt="shape">
            </div>
        </div>

    </section>

{% endblock %}

